<!doctype html>
<html>
<head>
	<style>
	body {
		text-align: center;
	}
	</style>
</head>
<body>
	<h1>Main page</h1>
	<hr>
	<form method="post" action="/print" enctype="multipart/form-data">
		<label>Upload a file to print:</label><br>
		<input type="file" name="file" /><br>
		<input type="submit" />
	</form>
</body>
</html>